In [6]:
import numpy as np
import pandas as pd

In [7]:
data=pd.read_csv('C:/Users/kesav/OneDrive/Desktop/Academics/Data analytics/Assignment/Assignment-2/data.csv')

In [8]:
#Removing attributes that has more no of distinct values
threshold=17
for i in data.columns:
    temp=data[i].drop_duplicates()
    if(len(temp)>threshold):
        data.pop(i)
    elif data[i].dtype=='bool':
        data.pop(i)
    elif len(data[i].drop_duplicates())==1:
        data.pop(i)

In [10]:
#Generalization based on no of distinct values
att_thre=5
for i in data.columns:
    if len(data[i].drop_duplicates())>att_thre:
        if i == "No_of_BHK":
            data['No_of_BHK'] = data['No_of_BHK'].replace(['0 BHK','1 RK','1 BHK','2 RK','2 BHK','3 BHK','3 RK','4 BHK'],'Small house')
            data['No_of_BHK'] = data['No_of_BHK'].replace(['5 BHK','6 BHK','7 BHK','8 BHK','9 BHK'],'Luxury')
            data['No_of_BHK'] = data['No_of_BHK'].replace(['10 BHK','11 BHK','12 BHK','14 BHK'],'Bungalow')
        
        elif i == "City_name":
    
            data['City_name'] = data['City_name'].replace(['Ahmedabad','Delhi','Kolkata','Lucknow','Mumbai'],'North India')
            data['City_name'] = data['City_name'].replace(['Chennai','Hyderabad','Bangalore'],'South India')
        else:
            data.pop(i)
#Droppping the redundant tuples
newData = data.drop_duplicates(
  subset = ['No_of_BHK', 'City_name']).reset_index(drop = True)

newData

,Property_type,Property_status,Property_building_status,City_name,No_of_BHK,is_furnished
0,Apartment,Under Construction,ACTIVE,North India,Small house,Unfurnished
1,Apartment,Under Construction,ACTIVE,North India,Luxury,Unfurnished
2,Villa,Ready to move,ACTIVE,North India,Bungalow,Furnished
3,Apartment,Under Construction,ACTIVE,South India,Small house,Unfurnished
4,Independent House,Under Construction,ACTIVE,South India,Luxury,Unfurnished
5,Independent House,Ready to move,ACTIVE,South India,Bungalow,Semi-Furnished