In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv('C:/Users/kesav/OneDrive/Desktop/Academics/Data analytics/Assignment/Assignment-2/data.csv')

In [3]:
def convert_float(x):
    return float(x.replace(',',''))
data['Price_per_unit_area']=data['Price_per_unit_area'].apply(convert_float)

In [4]:
Budget=data[(data['Price_per_unit_area']>=100) & (data['Price_per_unit_area']<=10000)]
Luxury=data[(data['Price_per_unit_area']>10000) & (data['Price_per_unit_area']<=50000)]
ultraLuxury=data[(data['Price_per_unit_area']>50000) & (data['Price_per_unit_area']<=100000)]

In [6]:
threshold=17
for i in data.columns:
    temp=data[i].drop_duplicates()
    if(len(temp)>threshold):
        Budget.pop(i)
        Luxury.pop(i)
        ultraLuxury.pop(i)
    elif data[i].dtype=='bool':
        Budget.pop(i)
        Luxury.pop(i)
        ultraLuxury.pop(i)
    elif len(data[i].drop_duplicates())==1:
        Budget.pop(i)
        Luxury.pop(i)
        ultraLuxury.pop(i)

In [7]:
#Generalization based on no of distinct values
att_thre=5
for i in Budget.columns:
    if len(Budget[i].drop_duplicates())>att_thre:
        if i == "No_of_BHK":
            Budget['No_of_BHK'] = Budget['No_of_BHK'].replace(['0 BHK','1 RK','1 BHK','2 RK','2 BHK','3 BHK','3 RK','4 BHK'],'Small house')
            Budget['No_of_BHK'] = Budget['No_of_BHK'].replace(['5 BHK','6 BHK','7 BHK','8 BHK','9 BHK'],'Luxury')
            Budget['No_of_BHK'] = Budget['No_of_BHK'].replace(['10 BHK','11 BHK','12 BHK','14 BHK'],'Bungalow')
            
            Luxury['No_of_BHK'] = Luxury['No_of_BHK'].replace(['0 BHK','1 RK','1 BHK','2 RK','2 BHK','3 BHK','3 RK','4 BHK'],'Small house')
            Luxury['No_of_BHK'] = Luxury['No_of_BHK'].replace(['5 BHK','6 BHK','7 BHK','8 BHK','9 BHK'],'Luxury')
            Luxury['No_of_BHK'] = Luxury['No_of_BHK'].replace(['10 BHK','11 BHK','12 BHK','14 BHK'],'Bungalow')
            
            ultraLuxury['No_of_BHK'] = ultraLuxury['No_of_BHK'].replace(['0 BHK','1 RK','1 BHK','2 RK','2 BHK','3 BHK','3 RK','4 BHK'],'Small house')
            ultraLuxury['No_of_BHK'] = ultraLuxury['No_of_BHK'].replace(['5 BHK','6 BHK','7 BHK','8 BHK','9 BHK'],'Luxury')
            ultraLuxury['No_of_BHK'] = ultraLuxury['No_of_BHK'].replace(['10 BHK','11 BHK','12 BHK','14 BHK'],'Bungalow')
        
        elif i == "City_name":
            Budget['City_name'] = Budget['City_name'].replace(['Ahmedabad','Delhi','Kolkata','Lucknow','Mumbai'],'North India')
            Budget['City_name'] = Budget['City_name'].replace(['Chennai','Hyderabad','Bangalore'],'South India')
            
            Luxury['City_name'] = Luxury['City_name'].replace(['Ahmedabad','Delhi','Kolkata','Lucknow','Mumbai'],'North India')
            Luxury['City_name'] = Luxury['City_name'].replace(['Chennai','Hyderabad','Bangalore'],'South India')
            
            ultraLuxury['City_name'] = ultraLuxury['City_name'].replace(['Ahmedabad','Delhi','Kolkata','Lucknow','Mumbai'],'North India')
            ultraLuxury['City_name'] = ultraLuxury['City_name'].replace(['Chennai','Hyderabad','Bangalore'],'South India')
        else:
            Budget.pop(i)
            Luxury.pop(i)
            ultraLuxury.pop(i)
#Droppping the redundant tuples
newBudget = Budget.drop_duplicates(
  subset = ['No_of_BHK', 'City_name']).reset_index(drop = True)

newLuxury = Luxury.drop_duplicates(
  subset = ['No_of_BHK', 'City_name']).reset_index(drop = True)

newUltra = ultraLuxury.drop_duplicates(
  subset = ['No_of_BHK', 'City_name']).reset_index(drop = True)

City_id
City_name
No_of_BHK

In [10]:
newUltra

,Property_type,Property_status,Property_building_status,City_name,No_of_BHK,is_furnished
0,Apartment,Ready to move,ACTIVE,South India,Small house,Unfurnished
1,Independent House,Ready to move,ACTIVE,North India,Luxury,Semi-Furnished
2,Independent Floor,Ready to move,ACTIVE,North India,Small house,Semi-Furnished
3,Apartment,Ready to move,ACTIVE,North India,Bungalow,Furnished